extends layout

block content
  .container
    br
    h2 Panel QC Data
    .row
       .col-5
         | Show QC data for panel number: 
         input#panel_number(type='number')
       .col-2
         button#btnShowPanel.btn.btn-block.btn-info Show Panel
    .row
       | Output:
       .bg-muted.text-body.rounded
       pre#panel_info(style="width:1300px;height:100px;")
       div#straw_status_plot(style="width:1300px;height:600px;")
    h2 Verbose Output
    .row
        pre#log.


  
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js', integrity='sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4', crossorigin='anonymous')
  script(src='https://cdn.plot.ly/plotly-2.16.1.min.js')
  script(src='javascripts/panel_qc.js', type='module', crossorigin='anonymous')
